//cuerpo general de la pagina

ion-toolbar {
    --background: #a8a8a8;
    --color: #000000;
  }
  
    ion-content {
        --background: #d8d4d4;
      }
    
    ion-item {
      --background: #cccccc;
      --color: #000000;
    }

    .boton-azul {
      --background: #007bff;
      --color: #ffffff; 
      border-radius: 20px; 
      transition: background-color 0.3s ease; 
    }

    .boton-foto {
      --background: #007bff;
      --color: #ffffff; 
      border-radius: 20px; 
      transition: background-color 0.3s ease; 
      display: block; 
      margin: 0 auto; 
    }

    .error-message {
      color: red;
      font-size: 0.9em;
    }
    
  
  